.ind-player-card-root {
    position: relative;
}

.ind-player-card-container {
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin: 10em auto;
    text-align: center;
    height: 22em;
    width: 22em;
    padding: 2em;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    transform:
    perspective(75em);
  box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 15px;
}

.ind-player-card-container h1 {
  color: var(--tertiary-color);

}

img {
    width: 14em;
    height: 4em;
    border-radius: 5px;
}

.ind-player-add {
    position: absolute;
    bottom: .9em;
    right: 5.5em;
    font-size: 20pt;
}
