.ind-player-card-root {
    position: relative;
}

.ind-player-card-container {
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin: 10em auto;
    text-align: center;
    height: fit-content;
    width: 22em;
    padding: 2em;
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

img {
    width: 14em;
    height: 4em;
    border-radius: 5px;
}

.ind-player-add {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 20pt;
}

.hideMeAfter5Seconds span {
  margin-left: 15px;
}

.hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    animation-fill-mode: forwards;
    color: var(--secondary-color);
    position: absolute;
    left: 43%;
    top: 105%;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }