@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.login-form {
  color: var(--secondary-color);
  background-color: var(--main-color);
  text-align: center;
  width: 27.5em;
  height: 30em;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 7em;
  margin: auto;
  margin-top: 7em;
  font-family: 'Kanit', sans-serif;
}

.login-input-container input {
  width: 20em;
  height: 3em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  border-radius: 25px;
  border: none;
  padding-left: 20px;
  font-size: 12pt;
}

.login-button {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  width: 10.1em;
  height: 3em;
  border-radius: 25px;
  border: none;
  font-size: 14pt;
}



input::placeholder {
  --secondary-color: rgb(233, 227, 227);
  font-size: 13pt;
  transition: all 0.4s ease;
}

input:focus::placeholder {
  opacity: 0;
}

.login-button:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

@media screen and (max-width: 390px) {

  .login-form {
    width: 22.6em;
    height: fit-content;
    padding-bottom: 3em;
  }

  .login-form input {
    width: 15em;
  }
}