.search-bar {
  display: flex;
  justify-content: space-around;
  text-align: center;

  margin: auto;
  margin-top: 30em;

  color: #555;
  align-items: center;
  position: relative;

}

.search-bar .btn-group {
  border: none;
  place-items: center;
  background: rgb(243, 238, 238);
  border-radius: 5px;
  color: inherit;
  white-space: nowrap;
  font-size: 18pt;
  display: flex;
  flex-direction: row;
}

.search-bar .btn-group .game {
  border: none;
  background: none;
  padding: 1.5rem 1rem;
  cursor: pointer;
  font: inherit;
  font-weight: 900;
  text-transform: capitalize;
}

.search-bar .btn-group .game:active {
  color: rgb(50, 53, 78);  
}

.btn-group .game:focus {
  background-color: rgb(50, 53, 78);
  color: white;
  border-radius: 5px;
}