@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  --main-color: #262323;
  --secondary-color: rgb(233, 227, 227);
  --tertiary-color: #0396ba;
}

html,
body {
  height: 100%
}

body {
  margin: 0;
  background-size: cover;
  background-color: var(--tertiary-color);

}

.logo {
  height: 17em;
  width: 32em;
  position: absolute;
  top: 16em;
  left: 50%;
  transform: translate(-50%, -50%);

}


