.toast-container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    top: 2rem;
    right: 0;
    z-index: 2;
}

.toast-root {
    display: flex;
    position: relative;

    border: 1px solid;
    border-left: 5px solid;
    border-radius: 8px;

    text-align: left;
    width: 21rem;

    margin: 1rem;
    margin-right: 0;

    color: var(--color);
    border-color: var(--color);

    animation: slide-in 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toast-root .x-button {
    position: absolute;

    right: 0.5rem;
    top: 0.25rem;
}

.toast-root.success .x-button:hover {
    color: var(--tertiary-color);
    border-radius: 50%;
    font-size: 2em;
    animation: spin 1s;
    animation-iteration-count: 1;
    transition: 0.5s;
}



.toast-root.error .x-button:hover {
    color: var(--tertiary-color);
    border-radius: 50%;
    font-size: 2em;
    animation: spin 1s;
    animation-iteration-count: 1;
    transition: 0.5s;
}



.toast-root .icon {
    display: flex;
    padding: 5px;
    align-items: center;
}

.toast-root .message {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toast-root .summary {
    text-transform: uppercase;

    padding-left: .25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.toast-root .detail {
    padding: .25rem;
}

.toast-root.success {
    --color: var(--tertiary-color);
    background-color: var(--main-color);
    /* border: 1px solid var(--secondary-color); */
}

.toast-root.error {
    --color: var(--main-color);
    background-color: var(--secondary-color);
}




@keyframes spin {
    to {
        transform: rotateZ(90deg);
    }

    from {
        transform: rotateZ(0deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    7% {
        opacity: 1;

    }

    75% {
        opacity: 1;

    }

    98% {
        opacity: 0;

    }

    100% {
        opacity: 0;

    }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}