html,
body {
    margin: 0;
    padding: 0;
}

.nav-bar-root {
    padding: .5em;  
    background: var(--main-color);

    display: flex;
    justify-content: space-between;
    /* font-size: 18pt; */
    transition: 0.3s;
}

.nav-bar-root button {
    
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 16pt;
    padding: 3px 1em;
}

.nav-bar-root button:hover {
    background: none;
    color: var(--secondary-color);
}

.nav-bar-root span {
    color: var(--secondary-color);

}

.fa-icon {
    margin-left: 5px;
    /* margin-right: 9px; */
}

/* .button {
    padding-right: 3em;
} */

