@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Teko:wght@300&display=swap');


html,
body {
    margin: 0;
    padding: 0;
}

.nav-bar-root {
    padding: .5em;  
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.nav-bar-root button {
    font-family: 'Rajdhani', sans-serif;
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 16pt;
    padding: 3px 1em;
}

.nav-bar-root button:hover {
    background: none;
    color: var(--secondary-color);
}

.nav-bar-root span {
    color: var(--secondary-color);

}

.fa-icon {
    margin-left: 5px;
}

@media screen and (max-width : 390px) {
    .nav-bar-root button {
        font-size: 13pt;
      }
}




