.friends-root {
    text-align: center;
}

.friend-buttons {
    position: absolute;
    top: 20.5em;
    left: 40.1em;
}

.friends-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5em;
    position: relative;
}

.accept {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
    height: 2em;
    width: 5em;
}

.decline {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
    height: 2em;
    width: 5em;
}