.logo {
  height: 17em;
  width: 32em;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

@media screen and (max-width: 440px) {
.logo-root .logo {
height: 17em;
width: 22em;
position: absolute;
top: 15em;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 1rem;
  }
}