
.squad-title {
    color: var(--secondary-color);
    margin: 2em  auto;
    text-align: center;
    font-size: 40pt;
    font-family: 'Press Start 2P', cursive;
      color: #ffd9e2;
      text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
      -webkit-animation: blink 4s infinite alternate;
              animation: blink 4s infinite alternate;
    }


.mysquad-cards-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

:root{
    background:#000106;
  }
  
  .no-squad-container{
    text-align: center;
    padding: 1.5rem;
    border-radius: 15px;
    width: fit-content;
    margin: 5em auto;
    font-family: 'Press Start 2P', cursive;
    height: fit-content;
    background-color: var(--main-color);
    color: var(--secondary-color);
    backdrop-filter: blur(10px);
}