@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Teko:wght@300&display=swap');


.mysquad-cards-container {
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    gap: 20px;
}
  
  .no-squad-container{
    text-align: center;
    padding: 1.5rem;
    border-radius: 15px;
    width: fit-content;
    margin: 5em auto;
    font-family: 'Rajdhani', sans-serif;
    height: fit-content;
    background-color: var(--main-color);
    color: var(--secondary-color);
    backdrop-filter: blur(10px);
}

.my-squad {
  color: var(--secondary-color);
  background-color: var(--main-color);
  font-family: 'Rajdhani', sans-serif;
  margin: 2em auto 0;
  padding: .5em;
  border-radius: 15px;
  text-align: center;
  font-size: 40pt;
  font-weight: bold;
  border: 2px solid var(--main-color);
  width: fit-content;
}