
.player-page-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 11em auto;
    padding: 5em;
    gap: 10px;  
    border-top: 5px var(--tertiary-color) solid;
    background-color: rgb(144, 142, 142);

    }
