.player-page-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 11em auto;
    padding: 10em;
    gap: 20px;  
    border-top: 4px var(--secondary-color) solid;
    background-color: var(--tertiary-color);
}

