.friend-button {
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 8px;
    width: 9em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
}

.friend-button.add {
    background-color: var(--tertiary-color);
    border: none;
}

.friend-button.undo {
    border: 2px solid var(--tertiary-color);
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 6px;
}

.friend-button.add:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.friend-button.undo:hover {
    background-color: var(--tertiary-color);
}

